@model IEnumerable<AriasRomanJonathan_Proyecto2.Tecnicos>

@{
    ViewBag.Title = "Listado de Técnicos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table" style="text-align: center;">
   <tr>
      <th>
         @Html.DisplayName("ID")
      </th>
      <th>
         @Html.DisplayName("Nombre completo")
      </th>
      <th></th>
   </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
       <td>
    @Html.DisplayFor(modelItem => item.Nombre)
</td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
